* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

iframe {
  width: 100%;
}

.header {
  font-family: "San Francisco Pro Display Light";
  color: #204B59;
  padding: 16px 0;
}
.header a {
  color: #204B59;
}

.header__burger {
  display: none;
  margin: 0 0 0 auto;
  z-index: 11;
}
.header__burger span {
  display: block;
  width: 32px;
  height: 4px;
  margin: 0 0 4px 0;
  background: #204B59;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.header__burger span:last-child {
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #fffff6;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.working-time {
  font-size: 14px;
  position: relative;
  bottom: 3px;
}

.logo__text {
  max-width: 105px;
  font-size: 19px;
  line-height: 22.5px;
  margin: 0 0 0 10px;
}

.menu {
  font-size: 18px;
}

.header__menu {
  margin: 0 0 0 172px;
}

.menu__item {
  display: inline-block;
  margin: 0 31px 0 0;
  line-height: 19px;
}
.menu__item:last-child {
  margin: 0;
}

.menu__item.mail {
  position: relative;
  bottom: 1px;
}

.menu__item.phone {
  margin: 0 13px 0 0;
}

.menu__link.phone {
  padding: 2px 0 2px 24px;
  background: url(../img/icons/header-phone.svg) no-repeat left top -1px;
  background-size: 15px 24px;
}

.menu__link.mail {
  padding: 0 0 0 30px;
  background: url(../img/icons/header-mail.svg) no-repeat left 1px top -1px;
  background-size: 23px 24px;
}

.menu__link.dealer {
  padding: 10px;
  border: 1px solid #204B59;
  margin-left: auto;
  font-size: 16px;
  position: relative;
  bottom: 2px;
  display: inline-block;
}

.footer {
  padding: 15px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer a {
  color: #204B59;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts .menu__item {
  display: block;
  text-align: right;
  margin: 0 0 5px 0;
}
.footer__contacts .menu__item:last-child {
  margin: 0;
}

.footer__logo {
  min-height: 66px;
}

.footer__contacts .menu__link.phone {
  background: url(../img/icons/header-phone.svg) no-repeat left center;
  background-size: 16px 16px;
}

.footer__contacts .menu__link.mail {
  background: url(../img/icons/header-mail.svg) no-repeat left top 1px;
  background-size: 16px 16px;
}

.modal-form {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 411px;
  padding: 20px 30px;
  background: #fffff6;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  z-index: 12;
}
.modal-form.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.modal-head {
  position: relative;
  font-size: 18px;
  text-align: center;
  line-height: 21.5px;
  margin: 0 0 20px 0;
}

.close-modal {
  width: 16px;
  height: 16px;
  background: url(../img/icons/close.svg) no-repeat;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.modal-body input {
  display: block;
  margin: 0 0 10px 0;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  color: #204B59;
  font-family: "Roboto Regular";
  width: 100%;
  padding: 10px;
}
.modal-body button {
  width: 100%;
  text-align: center;
  background: #6FCF97;
  padding: 10px;
  color: #fff;
  font-family: "Open Sans Regular";
  font-size: 18px;
  margin: 10px 0 0 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

@font-face {
  font-family: "San Francisco Pro Display Light";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Bold";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Medium";
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #fffff6;
  font-family: "San Francisco Pro Display Light";
  color: #204B59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 48px;
  line-height: 57px;
}

h2 {
  font-size: 48px;
  line-height: 57px;
}

h3 {
  font-size: 36px;
  line-height: 43px;
  font-family: "San Francisco Pro Display Bold";
}

.page-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 79px 0 30px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  width: 38px;
  height: 47px;
}

.main-block {
  margin: 40px 0 81px 0;
  position: relative;
}

.main-img__box {
  max-width: 993px;
}
.main-img__box img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__text {
  position: absolute;
  right: 0;
  top: 126px;
  text-align: right;
}

.link__btn {
  font-family: "Open Sans Regular";
  color: #fff;
  display: inline-block;
  background: #6FCF97;
  padding: 19px 34.5px;
  font-size: 24px;
}

.link-btn__box.main {
  margin: 100px 0 0 auto;
}

.advantages {
  margin: 0 0 90px 0;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__text {
  margin: 27px 0 0 0;
  padding: 0 27px 0 0;
}

.advantages-list {
  max-width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 92px 2fr;
  grid-template-columns: 2fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 22px 0 0 0;
  grid-column-gap: 92px;
  grid-row-gap: 14px;
}

.advantages-list__item {
  font-size: 26px;
  line-height: 28.6px;
  padding: 0 0 0 90px;
  display: inline-block;
  position: relative;
}
.advantages-list__item:last-child {
  margin: 0;
}
.advantages-list__item.delivery {
  background: url(../img/icons/adv-delivery.svg) no-repeat left center;
  background-size: 70px 70px;
  max-width: 367px;
}
.advantages-list__item.offers {
  background: url(../img/icons/adv-offers.svg) no-repeat left -3px center;
  background-size: 70px 70px;
  padding: 15px 0 15px 87px;
}
.advantages-list__item.partners {
  max-width: 363px;
  background: url(../img/icons/adv-partners.svg) no-repeat left center;
  background-size: 70px 70px;
}
.advantages-list__item.biggest {
  background: url(../img/icons/adv-biggest.svg) no-repeat left center;
  background-size: 70px 70px;
  padding: 15px 0 15px 88px;
}

.advantages__block {
  width: 46%;
  height: 309px;
  background: #D1D1D1;
}

.cards-section__title {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  position: relative;
}
.cards-section__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background: #6FCF97;
  display: inline-block;
}

.cards-section__descr {
  font-size: 18px;
  line-height: 21.5px;
  margin: 0 0 45px 0;
}

.card-section__link {
  color: #6FCF97;
}

.p-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
  font-size: 16px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.card-footer {
  margin-top: auto;
}

.p-ttl {
  font-size: 24px;
  color: #204B59;
  font-family: "San Francisco Pro Display Bold";
  margin: 0 0 15px 0;
  display: block;
}

.p-descript {
  margin: 0 0 17px 0;
  font-size: 16px;
  line-height: 19px;
}

.card-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #BFDCAE;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  bottom: 2px;
}

.p-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-top: 1px solid #BFDCAE;
  border-bottom: 1px solid #BFDCAE;
  margin: 0 0 15px 0;
}

.params__list {
  margin: 0 99px 0 0;
}
.params__list:last-child {
  margin: 0;
}

.param__name {
  line-height: 16px;
  margin: 0 0 5px 0;
}

.swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 23px 0 0;
}

.products.swiper-container {
  overflow: visible;
}

.product {
  margin: 0 6% 73px 0;
  width: 29.3%;
  height: auto;
  position: relative;
}
.product:last-child {
  margin: 0 0 73px 0;
}
.product:nth-child(3n+3) {
  margin: 0 0 73px 0;
}

.param__value {
  font-size: 18px;
  font-family: "San Francisco Pro Display Bold";
  line-height: 21.5px;
}

.length-text {
  margin: 0 15px 0 0;
  font-size: 16px;
}

.length__box {
  background: #fff;
  border: 1px solid #BFDCAE;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 7px 0 0;
}

.p-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
  position: relative;
  padding-top: 60.7%;
  width: 100%;
}
.p-img-wrap img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cl-i {
  padding: 6px 9.5px;
  margin: 0 10px 0 0;
  font-size: 16px;
  cursor: pointer;
  font-family: "San Francisco Pro Display Bold";
}
.cl-i:last-child {
  margin: 0;
}
.cl-i.active {
  background: #BFDCAE;
  color: #fff;
}

.p-addtocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 15px 0;
}

.p-cost {
  font-family: "San Francisco Pro Display Bold";
  font-size: 28px;
  margin: 0 10px 0 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.old-o-cost {
  font-family: "San Francisco Pro Display Regular";
  font-size: 18px;
  position: relative;
}
.old-o-cost:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #6FCF97;
  top: 0.5em;
  -webkit-transform: rotate(-18.7deg);
          transform: rotate(-18.7deg);
}

.p-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "San Francisco Pro Display Bold";
}
.p-btn-wrap button, .p-btn-wrap a {
  padding: 12px 0px;
  width: 175px;
  text-align: center;
  font-size: 18px;
}
.p-btn-wrap .card-btn {
  margin: 0 15px 0 0;
  background: #6FCF97;
  color: #fff;
}
.p-btn-wrap .p-more {
  border: 1px solid #BFDCAE;
  color: #BFDCAE;
}

.card__img {
  -webkit-box-shadow: 25px -17px 0px -1px #bfdcae;
          box-shadow: 25px -17px 0px -1px #bfdcae;
}
.card__img img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.greenhouses-card__img {
  width: 526px;
  height: 266px;
  margin: 16px 56px 0 0;
  position: relative;
}

.greenhouses-card__info {
  max-width: 385px;
  font-size: 24px;
  line-height: 25px;
}

.card-item__title {
  font-size: 24px;
  line-height: 28.6px;
  font-family: "San Francisco Pro Display Bold";
  color: #204B59;
}

a.card-item__title {
  margin: 0 0 15px 0;
  display: block;
}

.greenhouse-card__title {
  margin: 0 0 34px 0;
}

.greenhouses-card__parameters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 69px 20px 117px 20px 66px 20px 71px;
  grid-template-columns: 69px 117px 66px 71px;
  grid-column-gap: 20px;
  grid-row-gap: 34px;
  word-break: break-all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greenhouses__parameters-item.value {
  font-family: "San Francisco Pro Display Bold";
}

.greenhouses-card__descr {
  margin: 34px 0 0 0;
}

.card-link__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Open Sans Bold";
  font-size: 18px;
}

.card-link {
  color: #BFDCAE;
  padding: 9px;
  border: 1px solid #BFDCAE;
  width: 100%;
  text-align: center;
}

.greenhouses-link__box {
  margin: 33px 0 0 0;
}

.page-navigation {
  font-size: 24px;
  margin: 25px 0 0 0;
}

.back-arrow {
  width: 18px;
  height: 16px;
  background: url(../img/icons/back-arrow.svg) no-repeat;
  background-size: 18px 16px;
  display: inline-block;
  display: none;
}

.page-navigation__item {
  display: inline-block;
  padding: 5px 28px 5px 0;
  margin: 0px 13px 0 0;
  position: relative;
}
.page-navigation__item:after {
  content: "";
  width: 2px;
  height: 29px;
  background: #204B59;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 2px;
}
.page-navigation__item:last-child {
  padding: 5px 0;
  margin: 0;
}
.page-navigation__item.current {
  font-family: "San Francisco Pro Display Bold";
}
.page-navigation__item.current:after {
  content: none;
}

.page-navigation__link {
  color: #204B59;
}
.page-navigation__link.back {
  padding: 0 0 0 48px;
  background: url(../img/icons/back-arrow.svg) no-repeat left;
}

.garden-pavilions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
}

.garden-pavilions__img {
  width: 100%;
  padding-top: 30%;
  height: 100%;
  position: relative;
  margin: 0 62px 0 0;
}
.garden-pavilions__img img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.garden-pavilions__img.card__img {
  -webkit-box-shadow: 34px -26px 0px -2px #bfdcae;
          box-shadow: 34px -26px 0px -2px #bfdcae;
}

.garden-pavilions__descr {
  line-height: 21.5px;
  font-size: 18px;
}

.garden-pavilions__params {
  min-width: 400px;
  max-width: 400px;
}
.garden-pavilions__params .product {
  width: 100%;
}
.garden-pavilions__params .product:last-child {
  margin: 0;
}
.garden-pavilions__params.products {
  padding: 0;
  margin: -22px 0 0 0;
}
.garden-pavilions__params .length-text {
  font-size: 18px;
}
.garden-pavilions__params .cl-i {
  padding: 10px 14.5px;
}
.garden-pavilions__params .p-length {
  margin: 0 0 20px 0;
}
.garden-pavilions__params .p-params {
  font-size: 18px;
  margin: 0 0 33px 0;
}
.garden-pavilions__params .p-cost {
  font-size: 36px;
  margin: 0 17px 0 0;
}
.garden-pavilions__params .old-o-cost {
  font-size: 24px;
}

.garden-pavilions__params .params__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 32px 0 0;
}
.garden-pavilions__params .params__list:last-child {
  margin: 0;
}
.garden-pavilions__params .param__name {
  margin: 0 13px 0 0;
}

.link-btn__box.garden-pavilions {
  text-align: center;
  margin: 45px 0 0 0;
}

.garden-pavilions .link__btn {
  width: 100%;
  padding: 12.5px 32px;
  font-size: 18px;
}

.details {
  margin: 28px 0 0 0;
}

h4 {
  font-family: "San Francisco Pro Display Bold";
  font-size: 20px;
  line-height: 24px;
}

.details__title {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  position: relative;
}
.details__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background: #6FCF97;
}

.details__item {
  font-size: 18px;
  line-height: 21.5px;
  margin: 0 0 30px 0;
}
.details__item:last-child {
  margin: 0;
}

.number__list {
  counter-reset: number 0;
}
.number__list .number__list-item:before {
  counter-increment: number 1;
  content: counter(number, decimal) ") ";
}

@media screen and (max-width: 1200px) {
  .main-img__box {
    max-width: 80%;
  }

  .header__menu {
    margin: 0;
  }

  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__link.dealer {
    margin: 0;
  }

  .advantages {
    background-size: 375px 261px;
  }

  .advantages-list__item {
    font-size: 20px;
  }

  .main-block__text {
    top: 35px;
  }

  .advantages-list__item.help {
    max-width: 271px;
  }

  .greenhouses-card__img {
    max-width: 430px;
    height: 225px;
    margin: 16px 36px 0 0;
  }

  .greenhouses-card__info {
    font-size: 16px;
  }

  .card-item__title {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .greenhouses-card__descr {
    margin: 19px 0 0 0;
    max-width: 306px;
  }

  .greenhouses-card__parameters {
    grid-row-gap: 15px;
  }

  .greenhouses-card__parameters {
    -ms-grid-columns: 49px 89px 46px 51px;
    grid-template-columns: 49px 89px 46px 51px;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu {
    font-size: 14px;
  }

  .menu__item {
    margin: 0 6px 0 0;
  }

  .menu__link.mail {
    background: url(../img/icons/header-mail.svg) no-repeat left 1px top 0px;
    background-size: 18px 18px;
    padding: 0 0 0 23px;
  }

  .menu__link.phone {
    padding: 2px 0 2px 18px;
    background: url(../img/icons/header-phone.svg) no-repeat left top 1px;
    background-size: 15px 18px;
  }

  .working-time {
    bottom: 1px;
  }

  .advantages__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__block {
    width: 100%;
  }

  .main-block {
    margin: 60px 0;
  }

  .main-block__text {
    top: 0px;
  }

  .link-btn__box.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 0 0;
  }

  .advantages__text {
    padding: 0;
    margin: 27px 0;
  }

  .advantages-list {
    max-width: 100%;
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
  }

  .params__list {
    margin: 0 25px 0 0;
  }

  .advantages-list__item.delivery,
.advantages-list__item.offers,
.advantages-list__item.biggest,
.advantages-list__item.partners {
    background-size: 60px 60px;
    padding: 15px 0 15px 75px;
  }

  h1 {
    font-size: 36px;
  }

  .garden-pavilions__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .garden-pavilions__img {
    margin: 0 32px 5px 0;
    width: calc(100% - 32px);
    padding-top: 48.08%;
  }

  .garden-pavilions__table {
    margin: 7px 0 0 0;
  }

  .garden-pavilions__table {
    -ms-grid-rows: 42px 42px 42px 42px;
    grid-template-rows: 42px 42px 42px 42px;
    -ms-grid-columns: 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr;
    grid-template-columns: 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr 0.571fr;
  }

  .garden-pavilions__table > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .garden-pavilions__table > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .garden-pavilions__table > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .garden-pavilions__table > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }

  .garden-pavilions__table > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .garden-pavilions__table > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }

  .garden-pavilions__table > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .garden-pavilions__table > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .garden-pavilions__table > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .garden-pavilions__table > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .garden-pavilions__table > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }

  .garden-pavilions__table > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }

  .garden-pavilions__table > *:nth-child(13) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }

  .garden-pavilions__table > *:nth-child(14) {
    -ms-grid-row: 2;
    -ms-grid-column: 7;
  }

  .garden-pavilions__table > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .garden-pavilions__table > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .garden-pavilions__table > *:nth-child(17) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .garden-pavilions__table > *:nth-child(18) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }

  .garden-pavilions__table > *:nth-child(19) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .garden-pavilions__table > *:nth-child(20) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }

  .garden-pavilions__table > *:nth-child(21) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }

  .garden-pavilions__table > *:nth-child(22) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .garden-pavilions__table > *:nth-child(23) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .garden-pavilions__table > *:nth-child(24) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  .garden-pavilions__table > *:nth-child(25) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }

  .garden-pavilions__table > *:nth-child(26) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }

  .garden-pavilions__table > *:nth-child(27) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }

  .garden-pavilions__table > *:nth-child(28) {
    -ms-grid-row: 4;
    -ms-grid-column: 7;
  }

  .garden-pavilions__descr {
    margin: 0;
  }

  .garden-pavilions__params.products {
    margin: 22px 0 0 0;
    min-width: 100%;
    max-width: 100%;
  }

  .garden-pavilions__params .params__list {
    margin: 0;
  }

  .garden-pavilions__params .p-params {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 10px 5px 0;
    margin: 0 0 15px 0;
  }

  .link-btn__box.garden-pavilions {
    margin: 15px 0 0 0;
  }
}
@media screen and (max-width: 840px) {
  .main-img__box {
    max-width: 85%;
  }

  .greenhouses-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .greenhouses-card__img {
    max-width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: -50%;
    top: 0;
    background: #fff;
    height: 100vh;
    width: 50%;
    overflow-y: auto;
    z-index: 2;
    padding: 150px 20px 0 20px;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

  .header .menu__link.dealer {
    display: none;
  }

  .header__menu.active .menu__link.dealer {
    display: block;
  }

  .menu__link.mail {
    background: url(../img/icons/header-mail.svg) no-repeat left 0px top 6px;
  }

  .menu__link.phone {
    background: url(../img/icons/header-phone.svg) no-repeat left 2px top 4px;
  }

  .menu__item {
    margin: 0 0 20px 0;
    font-size: 18px;
  }
  .menu__item.phone {
    margin: 0 0 20px 0;
  }

  .working-time {
    margin: 0 0 30px 0;
  }

  .menu__link.dealer {
    width: 110px;
  }

  .header__menu.active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    visibility: visible;
  }

  .header__burger.active span:nth-child(2) {
    display: none;
  }
  .header__burger.active span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 8px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .header__burger.active span:last-child {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }

  .header__burger {
    display: block;
  }

  .main-link__btn {
    width: 100%;
    text-align: center;
  }

  .main-block__text {
    top: -32px;
  }

  .advantages-list {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .advantages-list__item br {
    display: none;
  }

  .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .products.swiper-container {
    overflow: hidden;
    padding: 20px 0 0 0;
  }

  .p-params {
    width: calc(100% + 15px);
  }

  .garden-pavilions__params .p-params {
    width: 100%;
  }

  .p-btn-wrap {
    width: calc(100% + 15px);
  }

  .p-btn-wrap button, .p-btn-wrap a {
    padding: 5px 0;
    width: 185px;
  }

  .product__inner {
    margin: 0 0 0 16px;
  }

  .product {
    right: 16px;
  }

  .garden-pavilions__params .product {
    right: 0;
  }

  .card__img {
    -webkit-box-shadow: 16px -15px 0px -2px #bfdcae;
            box-shadow: 16px -15px 0px -2px #bfdcae;
  }

  .garden-pavilions__img.card__img {
    -webkit-box-shadow: 16px -15px 0px -2px #bfdcae;
            box-shadow: 16px -15px 0px -2px #bfdcae;
  }

  .garden-pavilions__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 31px 0 0 0;
  }

  .garden-pavilions__table {
    width: 100%;
    overflow: auto;
    -ms-grid-columns: 68px 67px 61px 65px 65px 98px 104px;
    grid-template-columns: 68px 67px 61px 65px 65px 98px 104px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .garden-pavilions__table::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .garden-pavilions__img {
    margin: 0 15px 0 0;
    width: calc(100% - 14px);
  }

  .page-navigation {
    margin: 18px 0 0 0;
    width: 100%;
    font-size: 18px;
  }
  .page-navigation::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  .garden-pavilions .link__btn {
    width: 100%;
  }

  .page-navigation__link.back {
    background-size: 18px 16px;
    padding: 0 0 0 38px;
  }

  .page-navigation__item {
    padding: 5px 17px 5px 0;
    margin: 0 4px 0 0;
  }
  .page-navigation__item:after {
    height: 21px;
  }

  .garden-pavilions .link__btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .header {
    padding: 7px 0;
  }

  h1 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    font-size: 18px;
    line-height: 21.5px;
  }

  .footer__copy {
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
  }

  .footer__contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .footer__logo {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  .footer .menu__item {
    font-size: 14px;
  }

  .logo__icon {
    width: 27px;
    height: 34px;
  }

  .logo__text {
    font-size: 16px;
    max-width: 87px;
  }

  .link__btn {
    font-size: 18px;
    padding: 13px 12.5px;
  }

  .link-btn__box.main {
    margin: 30px 0 0 0;
  }

  .main-block {
    margin: 33px 0 29px 0;
  }

  .main-img__box {
    max-width: 80%;
  }

  .advantages {
    margin: 0 0 53px 0;
  }

  .advantages__block {
    height: 163px;
  }

  .advantages-list {
    margin: 11.5px 0 0px 0;
  }

  .advantages__title {
    font-size: 24px;
    line-height: 36px;
  }

  .page-navigation {
    margin: -4px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-navigation__item {
    padding: 5px 0;
  }
  .page-navigation__item:after {
    content: none;
  }
  .page-navigation__item:not(:first-child) {
    margin: 0 0 0 auto;
  }

  .page-navigation__link.back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    padding: 5px 0;
  }

  .back-arrow {
    display: inline-block;
  }

  .advantages__text {
    margin: 27px 0 13px 0;
  }

  .cards-section__title {
    padding: 0 0 2px 0;
  }

  .advantages-list__item {
    background-size: 36px 36px !important;
    line-height: 23.6px;
    font-size: 18px;
  }
  .advantages-list__item.delivery {
    margin: 0 0 1.5px 0;
    max-width: 100%;
    padding: 6px 0 7px 56px;
  }
  .advantages-list__item.help {
    margin: 0 0 1.5px 0;
    max-width: 100%;
    padding: 6px 0 7px 56px;
  }
  .advantages-list__item.offers {
    margin: 0 0 1.5px 0;
    background: url(../img/icons/adv-offers.svg) no-repeat left center;
    max-width: 100%;
    padding: 6px 0 7px 56px;
  }
  .advantages-list__item.biggest {
    margin: 0;
    max-width: 100%;
    padding: 6px 0 7px 56px;
  }
  .advantages-list__item.partners {
    margin: 0 0 1.5px 0;
    max-width: 100%;
    padding: 6px 0 7px 56px;
  }

  .p-ttl {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .p-descript {
    font-size: 14px;
    margin: 0 0 10px 0;
  }

  .cl-i {
    font-size: 14px;
    padding: 3.5px 7px;
  }

  .param__name {
    font-size: 12px;
  }

  .param__value {
    font-size: 16px;
  }

  .length-text {
    font-size: 14px;
  }

  .p-length {
    margin: 0 0 9px 0;
  }

  .params__list {
    margin: 0 62px 0 0;
  }

  .param__name {
    margin: 0;
  }

  .details__title {
    padding: 0 0 7px 0;
    margin: 0 0 5px 0;
  }

  .details__item {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 13px 0;
  }

  .garden-pavilions__params .param__name,
.garden-pavilions__params .param__value {
    font-size: 14px;
  }

  .garden-pavilions__params .p-length {
    margin: 0 0 17px 0;
  }

  .garden-pavilions__params .p-cost {
    font-size: 24px;
  }

  .garden-pavilions__params .p-params {
    padding: 2px 0;
    margin: 0 0 34px 0;
  }

  .garden-pavilions__params .old-o-cost {
    font-size: 16px;
  }

  .garden-pavilions__descr {
    font-size: 14px;
    line-height: 18.7px;
  }

  .p-params {
    padding: 4px 0;
    margin: 0 0 11px 0;
  }

  .p-addtocart {
    margin: 0;
  }

  .p-cost {
    font-size: 18px;
  }

  .old-o-cost {
    font-size: 14px;
  }

  .p-btn-wrap button, .p-btn-wrap a {
    font-size: 16px;
  }

  .cards-section__descr {
    font-size: 14px;
    margin: 0 0 21px 0;
    line-height: 17.5px;
  }

  .garden-pavilions__params .cl-i {
    padding: 6px 7.5px;
  }

  .garden-pavilions__params.products {
    margin: 28px 0 0 0;
  }

  h3 {
    font-size: 24px;
  }

  .products.swiper-container {
    padding: 13px 0 0 0;
  }

  .product {
    margin: 0 0 25px 0;
  }
  .product:last-child {
    margin: 0 0 25px 0;
  }
  .product:nth-child(3n+3) {
    margin: 0 0 25px 0;
  }

  .header__menu {
    right: -100%;
    -webkit-transition: all 0.6s linear;
    transition: all 0.6s linear;
  }

  .header__menu.active {
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

  .modal-form {
    width: 90%;
  }

  .card-dot {
    width: 6px;
    height: 6px;
  }
}
